<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div>
  <div>
  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
         <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/about">About us<span class="sr-only">(current)</span></a></li>
        <li><a href="/riftscc">Rifts Character Creator</a></li>
      </ul>
</nav>

<div class="container">
    <h2>Character Inventory</h2>
    <p>This is going to be where you select your character and all that other fun stuff. But it's not ready yet. So you're seeing this. Bite me.</p>
 
    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#tavern">Tavern</a> </li>
      <li>
        <a data-toggle="tab" href="#riftscc">Character Creator</a></li>
      <li>
        <a data-toggle="tab" href="#gearcreator">Gear Creator</a></li>
    </ul>
  
<div class="tab-content">
    <div id="tavern" class="tab-pane fade in active">
      <h3>HOME</h3>
      <p>This is where the characters hang out in between roleplaying. Or something</p>
    </div>

    <div id="riftscc" class ="tab-pane fade">
      <h3>Testing</h3>
      <p>something something</p>
    </div>

    <div id="gearcreator" class="tab-pane fade"
      <h3>Gear Creation Tool</h3>
    </div>
</div>

  </div>


</body>
</html>